/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "PT Sans", monospace;
}

.text-right {
  text-align: right;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}